@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KoPubDotumMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'GmarketSansMedium';
}

ul, ol, dl {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 1280px;
  margin: 0 auto;
}

#header::after {
  content: "";
  display: block;
  clear: both;
}

#header .header_u_af {
  margin-top: 40px;
  width: 80%;
  float: right;
}

#header .header_u_af::after {
  content: "";
  display: block;
  clear: both;
}

#header .header_u_af .header_u {
  float: right;
}

#header .header_u_af .header_u::after {
  content: "";
  display: block;
  clear: both;
}

#header .header_u_af .header_u li {
  float: left;
  font-size: 17px;
  margin-right: 20px;
  color: #333;
}

#header .header_u_af .header_u li:last-child {
  margin-right: 0;
}

#header h1 {
  float: left;
  width: 20%;
}

#header h1 a {
  display: block;
  width: 180px;
}

#header h1 a img {
  display: block;
  width: 100%;
}

#header .header_nev {
  width: 80%;
  float: right;
  margin-top: 50px;
}

#header .header_nev::after {
  content: "";
  display: block;
  clear: both;
}

#header .header_nev .header_nev_ul {
  float: right;
}

#header .header_nev .header_nev_ul::after {
  content: "";
  display: block;
  clear: both;
}

#header .header_nev .header_nev_ul li {
  float: left;
  font-size: 22px;
  margin-right: 25px;
  color: #333;
}

#header .header_nev .header_nev_ul li:last-child {
  margin-right: 0;
}

#index_warp {
  width: 1280px;
  margin: 0 auto;
}

#index_warp .index_main_img img {
  display: block;
  width: 100%;
}

#index_warp .index_activities,
#index_warp .index_competition,
#index_warp .index_study {
  margin-top: 50px;
}

#index_warp .index_activities span,
#index_warp .index_competition span,
#index_warp .index_study span {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2;
  color: #3d4b60;
}

#index_warp .index_competition .index_competition_imgbox::after,
#index_warp .index_competition .index_activities_imgbox::after,
#index_warp .index_activities .index_competition_imgbox::after,
#index_warp .index_activities .index_activities_imgbox::after {
  content: "";
  display: block;
  clear: both;
}

#index_warp .index_competition .index_competition_imgbox li,
#index_warp .index_competition .index_activities_imgbox li,
#index_warp .index_activities .index_competition_imgbox li,
#index_warp .index_activities .index_activities_imgbox li {
  float: left;
  width: calc(20% - 7px);
  margin-right: 94px;
  overflow: hidden;
  height: 249px;
}

#index_warp .index_competition .index_competition_imgbox li:last-child,
#index_warp .index_competition .index_activities_imgbox li:last-child,
#index_warp .index_activities .index_competition_imgbox li:last-child,
#index_warp .index_activities .index_activities_imgbox li:last-child {
  margin-right: 0;
}

#index_warp .index_competition .index_competition_imgbox li img,
#index_warp .index_competition .index_activities_imgbox li img,
#index_warp .index_activities .index_competition_imgbox li img,
#index_warp .index_activities .index_activities_imgbox li img {
  display: block;
  width: 100%;
}

#footer {
  background-color: #f4f3ef;
}

#footer .footer_wrap {
  width: 1280px;
  margin: 0 auto;
}

#footer .footer_wrap::after {
  content: "";
  display: block;
  clear: both;
}

#footer .footer_wrap .foo_logo {
  width: 180px;
  float: left;
}

#footer .footer_wrap .foo_logo img {
  display: block;
  width: 100%;
}

#footer .footer_wrap .foo_text_box {
  float: left;
  margin-top: 20px;
}

#footer .footer_wrap .foo_text_box .foo_u::after {
  content: "";
  display: block;
  clear: both;
}

#footer .footer_wrap .foo_text_box .foo_u li {
  float: left;
  font-family: 'KoPubDotumMedium';
  font-weight: bold;
  color: #333;
  margin-right: 20px;
}

#footer .footer_wrap .foo_text_box .foo_text {
  font-size: 15px;
  margin-top: 17px;
  font-family: 'KoPubDotumMedium';
  font-weight: bold;
  color: #333;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */